<div class="container">
    <div class="heading">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <!-- <br> -->
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <input class="login-button" type="submit" value="Sign In">
      
    </form>
    <div class="footer-login">
        <span class="create-account"><a href="#">Don't have an account?</a></span>
        <span class="forgot-password"><a routerLink="/test">Forgot Password ?</a></span>
    </div>
  </div>
  