<div class="container">
    <div class="heading">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="text" name="email" id="email" placeholder="Name">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <input required="" class="input" type="password" name="confirmPassword" id="password" placeholder="Confirm Password">
      <input class="login-button" type="submit" value="Sign Up">
      <span class="forgot-password"><a routerLink="/login">Already have an account?</a></span>
      
    </form>
  </div>